*.pdf
*.blg
*.acn
*.acr
*.alg
*.bbl
*.bbl-SAVE-ERROR
*.gz
*.ist
*.gls
*.glo
*.gls
*.glg
*.aux
*.bcf
*.lof
*.log
*.lot
*.out
*.toc
*.run.xml

*.fdb_latexmk
*.fls
*.xdy
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
